{% extends 'products/base.html' %}
{% load static %}
{% load humanize %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/checkout.css' %}"> {% endblock %}
{%block content%}

<div class="row">
    <div class="col-75">
        <div class="container">
            <form action="{% url 'create_order' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-50">
                        <h3>Данные для доставки</h3>
                        <label for="{{ field.first_name.id_for_label }}"><i class="fa fa-user"></i> Имя</label>
                        {{ form.first_name }}
                        {% if form.first_name.errors %}
                        <p class="help is-danger">{{ form.first_name.errors|join:', ' }}</p>
                        {% endif %}

                        <label for="{{ form.last_name.id_for_label }}"><i class="fa fa-user"></i> Фамилия</label>
                        {{ form.last_name }}
                        {% if form.last_name.errors %}
                        <p class="help is-danger">{{ form.last_name.errors|join:', ' }}</p>
                        {% endif %}

                        <label for="{{ form.email.id_for_label }}"><i class="fa fa-envelope"></i> Почта</label>
                        {{ form.email }}
                        {% if form.email.errors %}
                        <p class="help is-danger">{{ form.email.errors|join:', ' }}</p>
                        {% endif %}

                        <label for="{{ form.address.id_for_label }}"><i class="fa fa-address-card-o"></i> Адрес</label>
                        {{ form.address }}
                        {% if form.address.errors %}
                        <p class="help is-danger">{{ form.address.errors|join:', ' }}</p>
                        {% endif %}

                        <label for="{{ form.phone.id_for_label }}"><i class="fa fa-institution"></i>Номер
                            телефона</label>
                        {{ form.phone}}
                        {% if form.phone.errors %}
                        <p class="help is-danger">{{ form.phone.errors|join:', ' }}</p>
                        {% endif %}

                        <label for="{{ form.zipcode.id_for_label }}"><i class="fa fa-institution"></i> Код
                            города</label>
                        {{ form.zipcode }}
                        {% if form.zipcode.errors %}
                        <p class="help is-danger">{{ form.zipcode.errors|join:', ' }}</p>
                        {% endif %}

                        <label for="{{ form.payment_method.id_for_label }}"><i class="fa fa-institution"></i> Способ
                            оплаты</label>
                        {{ form.payment_method }}
                        {% if form.payment_method.errors %}
                        <p class="help is-danger">{{ form.payment_method.errors|join:', ' }}</p>
                        {% endif %}

                    </div>
                </div>
                <input type="submit" value="Оформить заказ" class="btn-check">
            </form>
        </div>
    </div>

    <div class="col-25">
        <div class="container1">
            <h4>Корзина
                <span class="price" style="color:black">
          <i class="fa fa-shopping-cart"></i>
          <b>{{ cart.get_cart_item }}</b>
        </span>
            </h4>
            {% for item in cart_items.all %}
            <p><a href="{% url 'product' item.product.id %}">{{ item.product.name }}({{item.quantity}})</a> <span
                    class="price">{{item.product.price|intcomma}} .руб</span></p>

            {% endfor %}
            <hr>
            <h4>Общая сумма: <span class="price"
                                   style="color:black"><b>{{ cart.get_cart_total|intcomma }} .руб</b></span></h4>
        </div>
    </div>


</div>

{%endblock%}