{% extends 'users/login.html' %}
{% load static %}

{% block content %}
<div class="global-container">
    <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center"> Регистрация </h3>
            <div class="card-text">
                <form action="{% url 'register' %}" class="form" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.email.id_for_label }}"> Электронная почта </label>
                        {{ form.email }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.username.id_for_label }}"> Логин </label>
                        {{ form.username }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.password1.id_for_label }}">Введите пароль </label>
                        {{ form.password1 }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.password2.id_for_label }}">Повторите пароль </label>
                        {{ form.password2 }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-block"> Зарегистрироваться</button>

                    <div class="sign-up">
                        Уже есть аккаунт? <a href="{% url 'login' %}"> Вход </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
