<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {%block title%}{{title}}{%endblock%}
    </title>

    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>

<body>
<form action="{% url 'register' %}" class="form" method="post">
    {% csrf_token %}
    <div class="container">
        <a href="{% url 'products' %}"><p class="exit">x</p></a>
        <h1>Регистрация</h1>
        <p>Пожалуйста, заполните эту форму, чтобы создать учетную запись.</p>
        <hr>

        <label for="{{ form.email.id_for_label }}"><b>Электронная почта</b></label>
        {{ form.email }}

        <label for="{{ form.username.id_for_label }}"><b>Логин</b></label>
        {{ form.username }}

        <label for="{{ form.password1.id_for_label }}"><b>Пароль</b></label>
        {{ form.password1 }}

        <label for="{{ form.password2.id_for_label }}"><b>Повторите пароль</b></label>
        {{ form.password2 }}
        <hr>
        <button type="submit" class="registerbtn">Регистрация</button>
        <div class="container signin">
            <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a>.</p>
        </div>
    </div>


</form>
</body>

</html>