{% extends 'users/login.html' %}
{% load static %}

{% block content %}

<div class="global-container">
    <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center"> Восстановление пароля </h3>
            <div class="card-text">
                <form class="form" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.email.id_for_label }}"> Электронная почта </label>
                        <input type="email" class="form-control form-control-sm" id="{{ form.email.id_for_label }}"
                               placeholder="Введите адрес электронной почты" name="{{ form.email.html_name }}">
                    </div>

                    <button type="submit" class="btn btn-primary btn-block"> Восстановить мой пароль</button>
                </form>
            </div>
        </div>
    </div>

    {% endblock %}







