<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Форма восстановления пароля</title>
</head>
<style>
    .info {
        border: 1px solid #000;
        padding: 50px;
        margin: 15% auto;
        width: 50%;
    }
    .title, .text-center {
        text-align: center;
    }
</style>
<body>
<div class="info">
    <div class="title"><h3 class="text-center-h4">Письмо с инструкциями по восстановлению
        пароля отправлено</h3>
    </div>
    <div class="text-center">
        <p>Мы оправили вам инструкцию по установке нового пароля на указанный адрес электронной почты (если в нашей базе
            данных есть такой адрес) </p>
    </div>
</div>
</body>
</html>