{% extends 'products/base.html' %}
{% load static %}
{% load humanize %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}"> {% endblock %}

{%block content%}

<div class="shopping-cart">
    <div class="title">
        Корзина
    </div>
    {% for item in items %}
    <div class="item">
        <div class="buttons-cart">
        </div>

        <div class="image">
            <img src="{{item.product.image.url}}" alt=""/>
        </div>

        <div class="description">
            <span><a href="{% url 'product' item.product.id %}">{{ item.product.name }}</a></span>
            <span></span>
            <span></span>
        </div>

        <div class="quantity">
            <a href="{% url 'add_to_cart' item.product.id %}">
                <button class="minus-btn-cart" type="button" name="button">
                    <img src="{% static 'img/plus.svg' %}" alt=""/>
                </button>
            </a>

            <input type="text" name="name" value="{{ item.quantity }}">
            <a href="{% url 'minus_cart' item.product.id %}">
                <button class="minus-btn-cart" type="button" name="button">
                    <img src="{% static 'img/minus.svg' %}" alt=""/>
                </button>
            </a>

        </div>

        <div class="total-price">{{ item.product.price|intcomma }} .руб</div>
    </div>
    <br>
    {% endfor %}
    <br>
    <br>
    <br>
    <div class="title">
        <a href="{% url 'checkout' %}">
            <button class="btn btn-success">Оформить заказ</button>
        </a>
    </div>
    <div class="title">
        <span>Сумма заказа: {{cart.get_cart_total|intcomma}} руб.</span>
    </div>
</div>
{%endblock%}