{% extends 'products/base.html' %}
{% load static %}
{% load humanize %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/product.css' %}"> {% endblock %}
{%block title%} {{title}} {%endblock title%}

{%block content%}
<main class="container">
    <div class="left-column">
        <img class="active" src="{{product.image.url}}" alt="">
    </div>

    <div class="right-column">
        <div class="product-description">
            <h1>{{product.name}}</h1>
            <p>{{product.description}}</p>
        </div>

        <div class="product-configuration">
            <a href="{% url 'add_to_cart' product.id %}" class="cart-btn">В корзину</a>
            <div class="product-price">
                <span>{{ product.price|intcomma }} руб.</span>
            </div>
        </div>
</main>

{%endblock%}
